.App {
    padding: 2rem;
    width: 90vw;
    height: 90vh;
    border-radius: 2rem;
    overflow: auto;
    background-color: white;
}

.list {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    overflow: auto;
    background-color: lightgray;
}

.btn_main {
    color: white;
    background-color: dodgerblue;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: .1rem solid dodgerblue;
    cursor: pointer;
    transition: .5s;
}

.btn_main:hover {
    color: dodgerblue;
    background-color: white;
}

.btn_second {
    color: white;
    background-color: forestgreen;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: .1rem solid forestgreen;
    cursor: pointer;
    transition: .5s;
}

.btn_second:hover {
    color: forestgreen;
    background-color: white;
}

.btn_danger {
    color: white;
    background-color: indianred;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: .1rem solid indianred;
    cursor: pointer;
    transition: .5s;
}

.btn_danger:hover {
    color: indianred;
    background-color: white;
}

.btn_home {
    margin-right: 2rem;
    text-decoration: none;
}

.btn_home_active {
    color: dodgerblue;
    background-color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: .1rem solid dodgerblue;
    cursor: pointer;
    transition: .5s;
}

.header {
    margin-bottom: 2rem;
}

.header_large {
    font-size: 2rem;
    word-break: break-word;
}

.header_medium {
    font-size: 1.5rem;
    word-break: break-word;
}

.flex {
    display: flex;
    align-items: center;
}

.flex_gap_medium {
    gap: 1.5rem;
}

.flex_column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex_center {
    justify-content: center;
}

.flex_vertical_center {
    align-items: center;
}

.input {
    padding: .5rem 1rem;
    border-radius: .5rem;
    outline: none;
    border: .1rem solid dodgerblue;
}

.input_label {
    margin: .5rem 1rem;
}



.series_item {
    margin-top: 2rem;
}

.series_item_labels {
    color: darkslateblue;
    padding-right: 1rem;
}

.series_item_labels div {
    padding-bottom: 1rem;
}

.series_item_info {
    padding-right: 1rem;
}

.series_item_info h1, h2 {
    padding-bottom: 1rem;
}

.italic {
    font-style: italic;
    color: grey;
}